<form [formGroup]="raceForm">
  <div class="card card-compact bg-base-100 shadow-xl">
    <div class="card-body px-2">
      <div class="form-control bg-primary">
        <input
          class="card-title"
          type="text"
          placeholder="Nombre de la carrera"
          formControlName="name"
        />
      </div>
      <div>
        <div
          class="relative mb-3"
          data-te-datepicker-init
          data-te-inline="true"
          data-te-input-wrapper-init
          data-te-datepicker-toggle-ref
          data-te-datepicker-toggle-button-ref
        >
          <input
            type="text"
            class="peer block min-h-[auto] w-full rounded px-3 py-[0.32rem] leading-[1.6] transition-all duration-200 ease-linear input input-bordered bg-white"
            placeholder="Fecha de la carrera"
            formControlName="date"
            data-te-datepicker-toggle-ref
            data-te-datepicker-toggle-button-ref
          />
        </div>
      </div>
      <div
        class="stats card-actions bg-white text-secondary-content stats-vertical lg:stats-horizontal shadow"
      >
        <div class="stat px-5">
          <div class="stat-title">Distancia</div>
          <label class="input-group">
            <input
              type="number "
              placeholder="42"
              class="input input-bordered bg-white"
              formControlName="distance"
            />
            <span>Km</span>
          </label>
        </div>

        <div class="stat px-5">
          <div class="stat-title">Tiempo</div>
          <input
            type="text"
            placeholder="hh:mm:ss"
            class="input input-bordered bg-white"
            formControlName="time"
          />
        </div>

        <div class="stat px-5">
          <div class="stat-title">Ritmo</div>
          <input
            type="text"
            placeholder="hh:mm:ss"
            class="input input-bordered bg-white"
            formControlName="pace"
          />
        </div>
      </div>
    </div>
  </div>
</form>
