<div class="stats stats-vertical lg:stats-horizontal shadow">
  <div class="stat">
    <div class="stat-title">Carreras</div>
    <div class="stat-value text-secondary">
      {{ races.length }}
      <fa-icon [icon]="faLocationPin" size="2xs"></fa-icon>
    </div>
  </div>

  <div class="stat">
    <div class="stat-title">Distancia</div>
    <div class="stat-value text-primary">{{ kilometersCounter | number: '1.0-0' }} Kms
      <fa-icon [icon]="faFlagCheckered" size="2xs"></fa-icon>
    </div>
  </div>

  <div class="stat">
    <div class="stat-title">Tiempo</div>
    <div class="stat-value text-secondary">
      {{ totalTime }}
      <fa-icon [icon]="faClock" size="2xs"></fa-icon>
    </div>
  </div>
</div>
