<div class="drawer">
  <input class="drawer-toggle" id="my-drawer-3" type="checkbox"/>
  <div class="drawer-content flex flex-col">
    <div class="w-full navbar bg-primary">
      <div class="flex-none lg:hidden">
        <label
          class="btn btn-square btn-ghost text-primary-content"
          for="my-drawer-3"
        >
          <fa-icon [icon]="faBars" class="fa-xl"></fa-icon>
        </label>
      </div>
      <div class="flex-1 px-2 mx-2">
        <a
          [routerLink]="'/races'"
          class="btn btn-ghost text-primary-content normal-case text-xl"
        >{{ "my_races" | translate }}</a
        >
      </div>
      <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal text-primary-content">
          <!-- Navbar menu content here -->
          <li>
            <a (click)="authService.signOut()"
            >
              <fa-icon [icon]="faRightFromBracket" class="fa-xl"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero min-h-screen bg-ghost">
      <div class="hero-content flex-col lg:flex-row-reverse w-full">
        <div
          class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 min-w-full"
        >
          <form [formGroup]="raceForm" class="lg:hidden single-form">
            <div class="card-body">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">{{ "race_name" | translate }}</span>
                </label>
                <input
                  [ngClass]="
                    (!raceForm.controls['name'].valid &&
                      raceForm.controls['name'].touched) ||
                    (invalidControls.includes('name') &&
                      !raceForm.controls['name'].touched)
                      ? 'input input-bordered bg-white border-red-500'
                      : 'input input-bordered bg-white'
                  "
                  formControlName="name"
                  placeholder="Patagonia Run"
                  required
                  type="text"
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">{{ "distance" | translate }}</span>
                </label>
                <label class="input-group">
                  <input
                    [ngClass]="
                      (!raceForm.controls['distanceValue'].valid &&
                        raceForm.controls['distanceValue'].touched) ||
                      (invalidControls.includes('distanceValue') &&
                        !raceForm.controls['distanceValue'].touched)
                        ? 'input input-bordered bg-white border-red-500'
                        : 'input input-bordered bg-white'
                    "
                    formControlName="distanceValue"
                    min="1"
                    placeholder="42"
                    type="number"
                  />
                  <select
                    class="select select-bordered"
                    formControlName="distanceUnit"
                  >
                    <option selected value="km">
                      {{ "distance_units.km" | translate }}
                    </option>
                    <option value="mi">{{ "distance_units.mi" | translate }}</option>
                  </select>
                </label>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">{{ "time" | translate }}</span>
                </label>
                <input
                  (keydown)="formatRaceTime($event)"
                  [ngClass]="
                    (!raceForm.controls['time'].valid &&
                      raceForm.controls['time'].touched) ||
                    (invalidControls.includes('time') &&
                      !raceForm.controls['time'].touched)
                      ? 'input input-bordered bg-white border-red-500'
                      : 'input input-bordered bg-white'
                  "
                  formControlName="time"
                  maxlength="8"
                  placeholder="hh:mm:ss"
                  type="text"
                  value="{{ formatedTime }}"
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">{{ "date" | translate }}</span>
                </label>
                <input
                  [ngClass]="
                    (!raceForm.controls['date'].valid &&
                      raceForm.controls['date'].touched) ||
                    (invalidControls.includes('date') &&
                      !raceForm.controls['date'].touched)
                      ? 'input input-bordered bg-white border-red-500 input-date'
                      : 'input input-bordered bg-white input-date'
                  "
                  class="input input-bordered bg-white"
                  formControlName="date"
                  name="date"
                  placeholder="dd/mm/aaaa"
                  type="date"
                />
              </div>
              <div class="form-control">
                <label class="label cursor-pointer">
                  <span class="label-text">{{
                      "other_app_activity" | translate
                    }}</span>
                  <input
                    (click)="toggleExternalActivityLink($event)"
                    [checked]="externalActivity"
                    class="toggle toggle-secondary"
                    type="checkbox"
                  />
                </label>
                <input
                  *ngIf="externalActivity"
                  [ngClass]="
                    (!raceForm.controls['externalActivityUrl'].valid &&
                      raceForm.controls['externalActivityUrl'].touched) ||
                    (invalidControls.includes('externalActivityUrl') &&
                      !raceForm.controls['externalActivityUrl'].touched)
                      ? 'input input-bordered bg-white border-red-500'
                      : 'input input-bordered bg-white'
                  "
                  formControlName="externalActivityUrl"
                  placeholder="https://connect.garmin.com/modern/activity/xxxxxxxxx"
                  type="text"
                />
              </div>
              <div class="form-control mt-6">
                <button
                  (click)="saveRaceChanges()"
                  *ngIf="!isCreatingRace"
                  class="btn btn-primary"
                >
                  {{ "actions.save" | translate }}
                </button>
                <button *ngIf="isCreatingRace" class="btn btn-primary">
                  <span class="loading loading-spinner"></span>
                  {{ "actions.saving" | translate }}
                </button>
              </div>
              <div *ngIf="editRaceError" class="alert alert-error">
                <fa-icon [icon]="faCircleExclamation" class="fa-xl"></fa-icon>
                <span>{{ "race_edit_error" | translate }}</span>
                <div>
                  <button
                    (click)="hideErrorAlert()"
                    class="btn btn-sm btn-ghost"
                  >
                    X
                  </button>
                </div>
              </div>
            </div>
          </form>
          <form [formGroup]="raceForm" class="hidden lg:block double-form">
            <div class="card-body">
              <div class="grid grid-cols-2 gap-24 p-5">
                <div>
                  <div class="form-control">
                    <label class="label">
                      <span class="label-text">{{
                          "race_name" | translate
                        }}</span>
                    </label>
                    <input
                      [ngClass]="
                        (!raceForm.controls['name'].valid &&
                          raceForm.controls['name'].touched) ||
                        (invalidControls.includes('name') &&
                          !raceForm.controls['name'].touched)
                          ? 'input input-bordered bg-white border-red-500'
                          : 'input input-bordered bg-white'
                      "
                      formControlName="name"
                      placeholder="Patagonia Run"
                      required
                      type="text"
                    />
                  </div>
                  <div class="form-control">
                    <label class="label">
                      <span class="label-text">{{ "date" | translate }}</span>
                    </label>
                    <input
                      [ngClass]="
                        (!raceForm.controls['date'].valid &&
                          raceForm.controls['date'].touched) ||
                        (invalidControls.includes('date') &&
                          !raceForm.controls['date'].touched)
                          ? 'input input-bordered bg-white border-red-500 input-date'
                          : 'input input-bordered bg-white input-date'
                      "
                      class="input input-bordered bg-white"
                      formControlName="date"
                      name="date"
                      placeholder="dd/mm/aaaa"
                      type="date"
                    />
                  </div>

                  <div class="form-control">
                    <label class="label">
                      <span class="label-text">{{
                          "distance" | translate
                        }}</span>
                    </label>
                    <label class="input-group">
                      <input
                        [ngClass]="
                          (!raceForm.controls['distanceValue'].valid &&
                            raceForm.controls['distanceValue'].touched) ||
                          (invalidControls.includes('distanceValue') &&
                            !raceForm.controls['distanceValue'].touched)
                            ? 'input input-bordered bg-white border-red-500'
                            : 'input input-bordered bg-white'
                        "
                        class="grow"
                        formControlName="distanceValue"
                        min="1"
                        placeholder="42"
                        type="number"
                      />
                      <select
                        class="select select-bordered"
                        formControlName="distanceUnit"
                      >
                        <option selected value="km">
                          {{ "distance_units.km" | translate }}
                        </option>
                        <option value="mi">{{ "distance_units.mi" | translate }}</option>
                      </select>
                    </label>
                  </div>
                </div>
                <div>
                  <div class="form-control">
                    <label class="label">
                      <span class="label-text">{{ "time" | translate }}</span>
                    </label>
                    <input
                      (keyup)="formatRaceTime($event)"
                      [ngClass]="
                        (!raceForm.controls['time'].valid &&
                          raceForm.controls['time'].touched) ||
                        (invalidControls.includes('time') &&
                          !raceForm.controls['time'].touched)
                          ? 'input input-bordered bg-white border-red-500'
                          : 'input input-bordered bg-white'
                      "
                      formControlName="time"
                      maxlength="8"
                      placeholder="hh:mm:ss"
                      type="text"
                      value="{{ formatedTime }}"
                    />
                  </div>
                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text text-primary">{{
                          "surface" | translate
                        }}</span>
                    </label>
                    <select
                      [ngClass]="
                        (!raceForm.controls['surface'].valid &&
                          raceForm.controls['surface'].touched) ||
                        (invalidControls.includes('surface') &&
                          !raceForm.controls['surface'].touched)
                          ? 'input input-bordered bg-white border-red-500'
                          : 'input input-bordered bg-white'
                      "
                      class="select select-bordered bg-white"
                      formControlName="surface"
                    >
                      <option [ngValue]="null" disabled selected>
                        {{ "pick_one" | translate }}
                      </option>
                      <option
                        *ngFor="let surface of surfacesValues"
                        [ngValue]="surface"
                      >
                        {{ surface | titlecase }}
                      </option>
                    </select>
                  </div>

                  <div class="form-control">
                    <label class="label cursor-pointer">
                      <span class="label-text"
                      >{{ "other_app_activity" | translate }}
                        <div
                          class="tooltip tooltip-secondary"
                          data-tip="Aca podes pegar el link de tu activdad de Garmin/Strava"
                        >
                          <fa-icon
                            [icon]="faCircleInfo"
                            class="fa-sm"
                          ></fa-icon>
                        </div>
                      </span>
                      <input
                        (click)="toggleExternalActivityLink($event)"
                        [checked]="externalActivity"
                        class="toggle toggle-secondary"
                        type="checkbox"
                      />
                    </label>
                    <input
                      *ngIf="externalActivity"
                      [ngClass]="
                        (!raceForm.controls['externalActivityUrl'].valid &&
                          raceForm.controls['externalActivityUrl'].touched) ||
                        (invalidControls.includes('externalActivityUrl') &&
                          !raceForm.controls['externalActivityUrl'].touched)
                          ? 'input input-bordered bg-white border-red-500'
                          : 'input input-bordered bg-white'
                      "
                      formControlName="externalActivityUrl"
                      placeholder="https://connect.garmin.com/modern/activity/xxxxxxxxx"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-control pb-5 px-5">
              <button
                (click)="saveRaceChanges()"
                *ngIf="!isCreatingRace"
                class="btn btn-primary"
              >
                {{ "actions.save" | translate }}
              </button>
              <button *ngIf="isCreatingRace" class="btn btn-primary">
                <span class="loading loading-spinner"></span>
                {{ "actions.saving" | translate }}
              </button>
            </div>
            <div *ngIf="editRaceError" class="alert alert-error">
              <fa-icon [icon]="faCircleExclamation" class="fa-xl"></fa-icon>
              <span>{{ "race_edit_error" | translate }}</span>
              <div>
                <button (click)="hideErrorAlert()" class="btn btn-sm btn-ghost">
                  X
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label class="drawer-overlay" for="my-drawer-3"></label>
    <ul class="menu p-4 w-80 h-full bg-base-200">
      <li>
        <a [routerLink]="'/races'">
          <fa-icon [icon]="faHouse" class="fa-xl"></fa-icon
          >
          {{ "go_home_page" | translate }}</a
        >
      </li>
      <div class="divider"></div>
      <li>
        <a (click)="authService.signOut()">
          <fa-icon [icon]="faRightFromBracket" class="fa-xl"></fa-icon>
          {{ "sign_out" | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>
